.whitetext{
    color: #fff;
}

.loader{
    color: rgb(242, 236, 236);
}

.center {
    top: 55%;
    left: 45%;
    position: absolute;
}

.centertext {
    left: 20%;
    margin-right: 5em;
}

.searchlink {
    text-decoration: none;
    color: rgb(34, 208, 54);
}

.searchlink:hover {
    text-decoration: underline;
}

.resultdesc {
    color: rgb(245, 242, 242);
}

.searchresults {
    margin-left: 10vw;
    margin-right: 30vw;
    margin-top: 3em;
    margin-bottom: 3em;
}

.results {
    margin-bottom: 2em;
}

#searchpage {
    display: flex;
    flex-direction: column;
}

#searchpage > .search-bar > #search-box {
    margin-left: 12vw;
}

.suggestions {
    list-style-type: none;
    margin-left: 12vw;
    margin-top: 1px;
    width: 39%;
    border-radius: 4px;
    padding: 0 0 10px 10px;
    max-width: 830px;
    background-color: #ffffff; 
}

.suggestion {
    height: 0.5em;
    padding: 10px 0 10px 10px;
    color: #5d9062;
    cursor: pointer;
}

.hidden {
    display: none;
}