body{
  background-color: #262626
}

#Spin {
	height: 350px;
}
#logo {
	width: 330px;
	height: 350px;
	margin-left: 750px;
	-webkit-animation: spin 18s infinite linear;
}
/*animation help from https://stackoverflow.com/questions/14859322/css3-spin-animation*/
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
#Static{
	height: 80px;
}

#logo2 {
	position: relative;
	margin-top: -220px;
	margin-left: 820px;
}
.container {
	width: 500px;
	position: relative;
	display: inline-block;
}
.container input#search {
	width: 900px;
	height: 30px;
	margin-top: 150px;
	margin-left: 465px;
}
.container button#search1 {
	width: 150px;
	height: 40px;
	margin-top: 15px;
	margin-left: 750px;
}
#unlucky {
	width: 150px;
	height: 40px;
	margin-top: -39px;
	margin-left: 920px;
	position: absolute;
}

/*Search result css?*/
.header {
	width: 1910px;
	height: 170px;

}
#logo1 {
	height: 70px;
	width: 170px;
}
#skullz{
	height: 70px;
	width: 170px;

}

.container input#search1 {
	width: 900px;
	height: 27px;
	position: absolute;
	top: -60px;
	left: 180px;
	max-width: 489px;
}
.title {
	font-size: 30px;
	margin-top: -60px;
	font-family: 'Amatic SC', cursive;
}
a:link {
	color: pink;
}
a:visited {
	color: #99ccff;
}
#rank {
	font-size: 13px;
	margin-top: -21px;
	color: white;
}
.description {
	font-size: 15px;
	margin-top: -15px;
	color: white;
}
.results {
	margin-left: 48px;
	margin-top: -100px;
	max-width: 626px;
}
.block{
	padding-top: 100px;
	margin-top: -16px;
}
p {
	font-family: 'Crimson Text', serif;
}
