
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo-static {
  z-index: 999;
  position: relative;
  margin-top: 110px;
  height: 123px;
  margin-left: 65px;
}

.App-header {
  background-color: #262626;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.buttons {
  z-index: 1000;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btnsearch{
font-size: 1em;
  font-family: 'Raleway', sans-serif;    
  cursor: pointer;
  /* padding: 20px; */
  background-color: rgb(232, 228, 228);
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  height: 35px;
  width: 170px;
  cursor: pointer;
  background-color: rgb(232, 228, 228);
}

.btnsearch:hover{
  cursor: pointer;
  background-color: rgb(216, 211, 211);
  transform: scaleX(1.01);
  transition: all 0.1s ease-in-out;  
}

#iamnotfeelinglucky{
  margin-left: 30px;
}

.search-bar > input {
  position: relative;
  background-color: white;
  z-index: 999;
  margin-top: 90px;
  width: 65%;
  max-width: 830px;
  border-style: hidden;
  border-radius: 3px;
  padding: 5px;
  font-size: 18px;
  height: 28px;
  font-family: 'Raleway', sans-serif;  
}

.logo-container {
  margin-left: -80px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.suggestions_one {
  list-style-type: none;
  margin-top: 1px;
  width: 65%;
  border-radius: 4px;
  padding: 0 0 10px 10px;
  max-width: 830px;
  align-self: center;
  background-color: #ffffff;
}

.suggestion_one {
  height: 0.5em;
  padding: 10px 0 10px 10px;
  color: #5d9062;
  cursor: pointer;
  text-align: left;
}