<!doctype html>
<html lang="en">
<head>
    <!--CSS starts-->
    <style>
        .card-block {
          margin: 15px;
        }
    </style>

    <!--CSS ends-->

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Reload page every 30 secs-->
    <!--<meta http-equiv="refresh" content="30">-->

    <title>Overview</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        {% if data %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Chunk ID</th>
                        <th>Links</th>
                        <th>Crawler</th>
                        <th>Index Builder</th>
                        <th>Index Servers</th>
                    </tr>
                </thead>
                {% for entry in data %}
                <tbody>
                    <tr>
                        <td>{{ entry['chunk_id'] }}</td>
                        <td>
                            {% for item in entry['links'] %}
                                <p>{{ item['link'] }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {{ entry['crawler'][0]['c_host'] }}
                            {{ entry['crawler'][0]['state'] }}
                        </td>
                        <td>
                            {{ entry['index_builder'][0]['ib_host'] }}
                            {{ entry['index_builder'][0]['state'] }}
                        </td>
                        <td>
                            {% for item in entry['index_server'] %}
                                <p>Row {{ item['row'] }} : {{ item['is_host'] }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        {% else %}
            <h1>No data</h1>
        {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>